/* Css style sheet*/
/*style for wider version */
@media screen and (min-width: 505px) {
    .side-menu {
      height: 100%;
      display: flexbox;
      align-items: center;
      text-align: center;
    }
    .side-menu div {
      display: block;
      flex-direction: row;
      justify-content: flex-end;
      margin-left: 15px;
    }
    .menu-icon {
      display: none;
    }
    .side-menu a {
      padding: 20px;
    }
 
  }
  
  body {
    background-color: snow;
    width: 100%;
    height: 100%;
    color: #1a2424;
  }
  
  :root {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* menu style in mobile version */
  /* when checking the toggle - menu shows when narrow size */
  .menu-links {
    display: none;
  }
  
  .head-class {
    position: fixed;
    top:0;
    overflow: hidden;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #afc9c9;
  }
  
  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked + .menu-links {
    display: block;
  }
  
  .side-menu div {
    list-style: none;
  }

  .side-menu li {
    cursor: pointer;
    display: block;
    margin: 10px auto;
    text-align: center;
  }
  
  .side-menu a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 20px auto;
    text-transform: uppercase;
    color: #685997;
  }
  
  .side-menu a:hover {
    transition: all 0.25s linear;
    background-color: #80b1ba;
    border-radius: 12px;
    color: white;
  }
  
  .menu-icon {
    cursor: pointer;
    font-size: 25px;
    color: #685997;
  }

   /* buffer between each section*/
   .buffer {
    width: 100%;
    min-height: 60vh;
    background-color: 9b8ace;
  }
  
  /* check box for dark mode */
  .dark-mode, textarea, input {
    background-color: #1a2424;
    color:#afc9c9;
  }

  #dark-button {
    border: none;
    background-color: #afc9c9;
    font-size: 38px;
    color:#685997;
  }
 
  #dark-button:hover {
    transition: all 0.25s;
    background-color: #afc9c9;
    padding: 3px;
    color: #2b1f4d
  }

  label a{
    font-size: 11px;
    color: #685997;
    font-style: oblique;
  }

  /* title style */
  .title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 15px;
  }
  .title-home, .intro-home {
    text-align:left;
    font-size: 28px;
    font-weight: 100;
    max-width: 700px;
    padding-bottom: 15px;
    line-height: 1.5;
  }
  .text-intro-main {
    text-align:left;
    max-width: 700px;
    padding-bottom: 15px;
    line-height: 2.5;
  }
  /* main style */
  .Home-main {
    display: flex;
    justify-content: center;
  }

  /* Home introduction style */
  .myName {
    font-weight: 700;
    color: #685997;
  }
  .phonetic {
    font-size: 20px;
    color: #685997;
  }
  
   /* text style */
  .text {
    font-family: Arial, Helvetica, sans-serif;
  }

  .textBody {
   padding:10px;
  }
  
  .text button {
    margin-left: 30px;
    border-style: solid;
    color: #685997;
    padding: 0.7rem;
    border-radius: 12px;
    font-weight: bold;
    background-color: #afc9c9;
    transition-duration: 0.4s;
    text-decoration: none;
  }

  .text button:hover {
    background-color: #80b1ba;
    color: white;
  }
   /* Image of me */
  .Jisoo-img {
    border-radius: 50%;
    margin-left: 190px;
  }
  .Jisoo-img-p {
    align-items: center;
  }
  .video-p,.video-info {
    text-align: center;
  }
   /* project table */
  .table-style, .table-style th, .table-style tr{
    border-collapse: collapse;
    line-height: 1.5;
    padding: 12px 15px 10px 10px ;
  }
  th {
    background-color: #617f85;
    color: white;
  }
  tr {
    border-bottom: 2px solid #737879;
  }
  tr:hover {
    background-color: #dceeee;
  }
  .active:hover {
    background: #685997;
  }

  /* icon style */
  .github-icon {
    display: inline-block;
    padding-right: 3px;
    padding-left: 3px;
    color: #685997;
    font-size: 40px;
  }
  .github-icon:hover {
    color: #2b1f4d;
    transition: all 200ms ease-in-out;
  }
  .linkedin-icon:hover {
    color: #2b1f4d;
    transition: all 200ms ease-in-out;
  }
  .linkedin-icon {
    display: inline-block;
    padding-left: 10px;
    padding-right: 3px;
    color: #685997;
    font-size: 40px;
  }
  /* form style */
  .form_input {  
    margin: 20px 0;
  }
  
  input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    display: block;
    border: none;
    color: #737879;
    border-radius: 0;
    width: 450px;
    margin: 20px, 25px;
    border-bottom: 2px solid #737879;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
  }
  input, textarea :focus {
    outline: none;
  }

  .form label {
    font-size: 16px;
    pointer-events: none;
    left: 5px;
    top: 5px;
  }

  #button-submit {
    background: #685997;
    color: snow;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
    box-shadow: inset;
    
  }
  .submit {
    text-align: center;
  }
  #button-submit:hover {
    background:#9b8ace;
    box-shadow: inset;
    transition: all 250ms ease-in-out;
  }

  .input::-webkit-input-placeholder, .submit {
    transition: all 200ms ease-in-out;
    text-align: center;
  }

  form {
    box-sizing: border-box;
    width: 500px;
    margin:  100px auto 0;
    padding-bottom: 50px;
    border-radius: 2px;
  }
  .contact, .h1 {
    margin-top: 100px; 
  }

 /* footer style */
 .footer {
  text-align: center;
 }
